

#headerData
{
  text-align:  right;
  padding-right: 50px;
  cursor: pointer;
}


#myFooter
{
    background-color: lightgray;
    height: 100px;
    padding: 30px;
    margin-top: 50px;
}


#adminDashboard
{
  padding: 20px;
  text-align: right;
  background-color: lightblue;
}

#adminDash
{
  display: flex;
  justify-content: space-between;
}

#adminMenu
{
  width: 20%;
}


#adminData
{
  width: 80%;
}

#home{
  padding-left: 20px;
}

#home h1{
  text-align: center;
  color: brown;
}